
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(130, 180, 255);
    margin: 0;
    padding-top:0;
}

    .nav-layout {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        align-items:center;
        padding: 0 10rem;
    }

    .nav-layout > li:nth-child(6) {
        width: 15rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3rem;
        justify-content: space-between;
    }

    .nav-layout > li:nth-child(6) > button:first-child {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: white;
        border: 1px solid blue;
        font-weight: 500;
        color: blue;
    }

    .nav-layout > li:first-child {
        font-weight: 900;
        display: flex;
        font-size: 17px;
        width: 7rem;
    }

     .nav-layout > li:nth-child(2) {
        border-bottom: 2px solid blue;
     }

    .nav-layout > li:nth-child(6) > button:last-child {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: blue;
        border: 1px solid blue;
        font-weight: 500;
        color: white;
    }

    .nav-wrapper {
        width: 100%;
        background-color: white;
        height: 3rem;
    }    

.content {
    display: flex;
    flex-direction: column;
    padding: 5rem 5rem;
    box-sizing: border-box;
    width: 100%;
}

.content-image {
    width: 100%;
    box-sizing: border-box;
    height: 40rem;
    border-radius: 10px;
}

.content-image > img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

@media (max-width: 992px) {
    .nav-layout {
        display: flex;
        align-items: start;
        flex-direction: column;
        list-style: none;
        gap: 15px;
    }

    .nav-layout {
        height: fit-content;
        padding: 0;
    }

    .nav-wrapper {
        width: 100%;
        background-color: white;
        height: fit-content;
        padding: 1rem;
        box-sizing: border-box;
    }

    .nav-layout > li:nth-child(6) > button {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: white;
        border: 1px solid blue;
        font-weight: 500;
        color: blue;
    }

    .nav-layout > li:first-child {
        font-weight: 900;
        font-size: 17px;
    }

    .nav-layout > li:nth-child(6) > button:last-child {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: blue;
        border: 1px solid blue;
        font-weight: 500;
        color: white;
    }
}


@media (max-width: 768px) {
    .nav-layout {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        align-items:center;
        font-size: 14px;
        padding:0 10px;
        gap: 4px;
    }

    .nav-layout > li:nth-child(6) {
        width: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3rem;
        justify-content: space-around;
    }

    .nav-layout > li:nth-child(6) > button:first-child {
        width: 4rem;
        height: 2rem;
        border-radius:12px;
        background-color: white;
        border: 1px solid blue;
        font-weight: 500;
        color: blue;
    }

    .nav-layout > li:first-child {
        font-weight: 900;
        display: flex;
        font-size: 17px;
        width: 5rem;
    }

    .nav-layout > li:nth-child(6) > button:last-child {
        width: 4rem;
        height: 2rem;
        border-radius:12px;
        background-color: blue;
        border: 1px solid blue;
        font-weight: 500;
        color: white;
    }

    .nav-layout {
        background-color: white;
    }

    .nav-wrapper {
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        height: 3rem;
        padding: 0;
    }    
}
