
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}


@media (min-width: 768px) {
    .nav-layout {
        position: relative;
        top: 8px;
        height: fit-content;
        white-space: nowrap;
    }

    .nav-layout > li {
        display: inline-block;
        margin-right: 10px;
    }

    .nav-layout > li:nth-child(6) > button {
        width: 7rem;
        height: 2rem;
        margin-left: 5rem;
        border-radius:12px;
        background-color: white;
        border: 1px solid blue;
        font-weight: 500;
        color: blue;
    }

    .nav-layout > li:first-child {
        font-weight: 900;
        font-size: 17px;
        margin-right: 10rem;
    }

    .nav-layout > li:nth-child(7) > button {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: blue;
        border: 1px solid blue;
        font-weight: 500;
        color: white;
    }

    .nav-wrapper {
        width: 100%;
        background-color: white;
        height: 3rem;
    }    
}

@media (max-width: 1024px) {
    .nav-layout > li {
        display: block;
        margin-bottom: 15px;
    }

    .nav-layout {
        list-style: none;
    }

    .nav-layout > li:nth-child(6) > button {
        margin-left: 0px;
    }

    .nav-layout {
        height: fit-content;
    }

    .nav-wrapper {
        width: 100%;
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        padding-bottom: 2rem;
    }

    .nav-layout > li:nth-child(6) > button {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: white;
        border: 1px solid blue;
        font-weight: 500;
        color: blue;
    }

    .nav-layout > li:first-child {
        font-weight: 900;
        font-size: 17px;
        margin-right: 13rem;
    }

    .nav-layout > li:nth-child(7) > button {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: blue;
        border: 1px solid blue;
        font-weight: 500;
        color: white;
    }

}

@media (max-width: 768px) {
    .nav-layout {
        position: relative;
        top: 8px;
        height: fit-content;
        white-space: nowrap;
    }

    .nav-layout > li {
        display: inline-block;
        margin-right: 5px;
    }

    .nav-layout > li:nth-child(6) > button {
        width: 7rem;
        height: 2rem;
        margin-left: 1rem;
        border-radius:12px;
        background-color: white;
        border: 1px solid blue;
        font-weight: 500;
        color: blue;
    }

    .nav-layout > li:first-child {
        font-weight: 900;
        font-size: 17px;
        margin-right: 2rem;
    }

    .nav-layout > li:nth-child(7) > button {
        width: 7rem;
        height: 2rem;
        border-radius:12px;
        background-color: blue;
        border: 1px solid blue;
        font-weight: 500;
        color: white;
    }

    .nav-wrapper {
        width: 100%;
        background-color: white;
        height: 3rem;
    }    
}
